.Logo{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30vw;
}
.login, .register{
    background-color: rgb(69, 139, 180);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: block;
    margin-top: 2mm;
}
.CrearUsuario{
    border:solid black;
    left:5mm;
}
.Login{
    border:solid black;
}